{% load wagtailcore_tags %}
{% load wagtailsettings_tags %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% get_settings %}

{# overlay for bios #}
<div class="overlay mfp-hide" id="leadership-bio-overlay">
	<div class="overlay-modal">
		<div class="flex-container">
			<div class="flex-item flex-1">
				<div class="media-content padding-sm">
					<div class="media-content-image">
						<img alt="" class="img-responsive image" src="">
					</div>
				</div>
			</div>
			<div class="flex-item flex-1">
				<div class="media-content padding-sm">
					<div><h2 class="name"></h2></div>
					<div><h3 class="title"></h3></div>
					<div><div class="rich-text bio"><p></p></div></div>
				</div>
			</div>
		</div>
	</div>
	<button title="Close (Esc)" type="button" class="mfp-close">×</button>
</div>

<div class="leadership">
	
	{# top row, contains featured leadership #}
	<div class="leadership__featured">
		{% for person in settings.website.PeopleSettings.person %}
			{% if person.value.featured %}
				<div class="person person__featured overlay-trigger mfp-inline" href="#leadership-bio-overlay">
					<div class="image"> {% image person.value.image original %} </div>
					<div class="details">
						<div class="name"> {{ person.value.name }} </div>
						<div class="title"> {{ person.value.title }} </div>
					</div><div style="display:none;" class="bio"> {{ person.value.bio }} </div>
				</div>
			{% endif %}
		{% endfor %}	
	</div>

	{# grid, contains non-featured leadership #}
	<div class="leadership__grid">
		{% for person in settings.website.PeopleSettings.person %}
			{% if not person.value.featured %}
				<div class="person overlay-trigger mfp-inline" href="#leadership-bio-overlay">
					<div class="image"> {% image person.value.image original %} </div>
					<div class="details">
						<div class="name"> {{ person.value.name }} </div>
						<div class="title"> {{ person.value.title }} </div>
					</div><div style="display:none;" class="bio">{{person.value.bio}}</div>
				</div>	
			{% endif %}
		{% endfor %}
	</div>
	
</div>