{% load static wagtailuserbar %}

{% block content %}


	
{% endblock content %}

{% block magnific_popup_js_block %}
	
	
	<script type="text/javascript">
		$(function() {

			// returns true is the user agent is that of on one of these devices
			function isOnMobileDevice() {
			    return ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) )
			}

		    $('.overlay-trigger').magnificPopup({
		    	mainClass: 'mfp-animate mfp-leadership',
		    	removalDelay: 500, // let animate-out complete before removing from DOM
		    	callbacks: {
		    		elementParse: function(item) {

		    			const person = $(item.el)
		    			// extract this person's info
		    			const imageSrc = person.find(".image img").attr('src');
		    			const name = person.find(".name").html();
		    			const title = person.find(".title").html();
		    			const bio = person.find(".bio").html();
		                
		                if (imageSrc && name && title && bio) {
		    				// populate overlay template with the info for the target person
		    				const overlay = document.querySelector("#leadership-bio-overlay");
		    				overlay.querySelector(".image").src = imageSrc;
		    				overlay.querySelector(".name").innerHTML = name;
		    				overlay.querySelector(".title").innerHTML = title;
		    				overlay.querySelector(".bio").innerHTML = bio;
		    			}
		    		},
		    		beforeOpen: function() {
		    			if (isOnMobileDevice()) {
		    				$('body').addClass('disallow-scroll');
		    			}
		    		},
		    		beforeClose: function() {
		    			if (isOnMobileDevice()) {
		    				$('body').removeClass('disallow-scroll');
		    			}
		    		}
		    	}
		    });
		});
	</script>

{% endblock magnific_popup_js_block %}