{% extends "flexcomponents/flex_layout_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}

	<section class="news-article-content">
		
		<a class="breadcrumb-link button" href="{% pageurl page.get_parent %}">Back</a>

		<div class="article__header">
			<section class="article__header--image">
				{% if page.image %}	
					{% image page.image original class="img-responsive" %}
				{% else %}
					<img src="/static/images/SCC_logo_red.png" class="img-responsive">
				{% endif %}
			</section>
			<section class="article__header--copy">
				<div class="date">{{page.date}}</div>
				<div class="headline">{{page.headline}}</div>
				<div class="byline">By {{page.author}}, {{page.published_by}}</div>
			</section>
		</div>
		<div class="article__body">
			<aside class="share">
                Share
                <div class="addthis_inline_share_toolbox"></div>
			</aside>
			<main class="content">

				{# article body #}
				{{block.super}}

			</main>
		</div>
		<div class="article__footer">
			<a class="breadcrumb-link button" href="{% pageurl page.get_parent %}">Back</a>
		</div>
	</section>


{% endblock content %}

{% block addthis_js %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=sccfarleys"></script>
{% endblock %}
