body {
  font-family: $font-family-primary;
  font-size: $baseline-font-size;
  line-height: $baseline;
  color: $text-color;
  overflow-x: hidden;
  background: $bg-texture;

  // Show baseline grid
  // background-image: repeating-linear-gradient(to bottom, transparent 0px, transparent ($baseline - 1), $scc-red $baseline, $scc-red $baseline);
}

h1, .h1 { @include font(h1-size);font-family:$font-family-primary;font-weight:$bold;}
h2, .h2 { @include font(h2-size);font-family:$font-family-primary;font-weight:$bold;}
h3, .h3 { @include font(h3-size);font-family:$font-family-primary;font-weight:$semibold;}
h4, .h4 { @include font(h4-size);font-family:$font-family-primary;font-weight:$semibold;}
h5, .h5 { @include font(h5-size);font-family:$font-family-primary;font-weight:$semibold;}
h6, .h6 { @include font(small-size);font-family:$font-family-primary;font-weight:$semibold;}

p { @include font(paragraph); }

a { color: $link-color; }

ul {
	list-style: disc;
	padding: 10px 0;
}

li {
	padding: 0.5rem 0;
	margin: 0 1.25rem;
}

small {
	@include font(small-size)
}

hr {
	background-color: $hr-color;
	width: $hr-width/2;
	height: $hr-height/2;
	margin: 0.5rem 0;
	display: inline-block;
	border: none;
	&.full {
		height: 1px;
		width: 100%;
	}

	@include respond-to(md) {
		margin: 1rem 0;
		width: $hr-width;
		height: $hr-height;
	}
}

.h-reversed {
  background-color: $primary;
  color: $reversed-text-color;
  padding: 3px 5px 2px;
}

.h-inline {
	display: inline-block;
}

i { font-style: italic; }
b { font-weight: bold; }


// Icon sizes
.material-icons.icon-24 { font-size: 24px; }
.material-icons.icon-36 { font-size: 36px; }
.material-icons.icon-48 { font-size: 48px; }

.mobile-only {
	@include respond-to(md) {
		display: none;
	}
}


@include respond-to(lg) {

	h1, .h1 { @include font-large(h1-size);font-family:$font-family-primary;font-weight:$bold;}
	h2, .h2 { @include font-large(h2-size);font-family:$font-family-primary;font-weight:$bold;}
	h3, .h3 { @include font-large(h3-size);font-family:$font-family-primary;font-weight:$semibold;}
	h4, .h4 { @include font-large(h4-size);font-family:$font-family-primary;font-weight:$semibold;}
	h5, .h5 { @include font-large(h5-size);font-family:$font-family-primary;font-weight:$semibold;}
	h6, .h6 { @include font-large(small-size);font-family:$font-family-primary;font-weight:$semibold;}
	p { @include font-large(paragraph); }
	small { @include font-large(small-size); }

}