// Flex grid mobile first
.f-row { 
	display: flex;
	flex-direction: column;

	@include respond-to(md) {
		flex-direction: row;
	}
}

.f-col { flex-grow: 1 }

.f-col--half { 
	width: 100%;

	@include respond-to(md) {
		width: 50% 
	}
}

.f-col--one-fourth {
	@include respond-to(md) {
		width: 25%
	}
}

.f-col--three--fourth {
	@include respond-to(md) {
		width: 75%
	}
}

.f-col--one-third {
	@include respond-to(md) {
		width: 33.333%
	}
}

.f-col--two-third {
	@include respond-to(md) {
		width: 66.666%
	}
}