.wrapper-with-padding {
  @include wrapper-with-padding();
}

.wrapper-with-padding-md {
  @include wrapper-with-padding(md);
}

.wrapper-with-padding-xl {
  @include wrapper-with-padding(xl);
}

.wrapper-md { max-width: $wrapper-md; margin: 0 auto }
.wrapper { max-width: $wrapper; margin: 0 auto }
.wrapper-xl { max-width: $wrapper-xl; margin: 0 auto }