.content-panel {
	padding: 20px;

	background-color: $light-gray;
	@include respond-to(sm) {
		padding: 50px;
	}
}

.content-panel--no-background {
	background-color: white;
}

.content-panel--centered {
	text-align: center;

	.content-panel-text {
		margin-left: auto;
		margin-right: auto;
	}

	hr {
		margin-left: auto;
		margin-right: auto; 
	}
}

// 3 Col in layout
.content-panel-text--sm {
	max-width: 420px;
}

// 4 Col in layout
.content-panel-text--md {
	max-width: 575px;
}

// 6 Col in layout
.content-panel-text--lg {
	max-width: 887px;
	margin-top: 50px;
	margin-bottom: 50px;
}