.hero {
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	height: 50vh;

	/*
		 Vertical Centering
	*/
	display: flex;
	align-items: center;

	/*
		Headings
	*/
	h1,h2,h3,h4,h5, a { 
		font-family: $font-family-3;
		text-shadow: 0 0 79px $primary;
		color: #fff;
		text-decoration:none;
	}

	/*
		Create underline under first heading
	*/
	.block-h1:first-child:after {
		content: " ";
		position: absolute;
		left: 50%;
		margin-left: -60px;
		width: 120px;
		height: 7px;
		background-color: white;
	}
}

.hero--large {
	height: 95vh;
}

.hero-content {
	max-width: 575px;
	margin: 0 auto;
}