$grid-item-width: 238px;
$grid-item-margins: 0 20px 50px;


.image-grid {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background: $light-gray;
}

.image-grid-item {
	width: $grid-item-width;
	background: white;
	margin: $grid-item-margins;
	overflow: hidden;
	position: relative;

	.thumbnail img {
		display: block;
		margin: 0 auto;
	}
}

.image-grid-item:hover {
	cursor: pointer;

	.grid-item-details {
		background: $dark-gray;
		bottom: 0;
	}
}

.grid-item-details {
	background: white;
	position: absolute;
	@include transition_all;
	width: 208px;

	p {
		line-height: 1.5;
		font-size: 14px;
	}
}

.image-grid-item--team {
	height: 335px;

	.grid-item-details {
		bottom: -50px;
		min-height: 100px;
		@include transition_all;
	}
}


.image-grid-item--deal {
	height: 380px;

	.thumbnail img {
		margin: 25px auto;
	}

	.grid-item-details {
		bottom: -260px;
		min-height: 100px;

		.description {
			display: inline-block;
			height: 210px;
			overflow: auto;
		}

		.website-link {
			display: block;
			height: 20px;
			margin-top:10px;
		}
	}
}