.pagination {
	font-family: $font-family-3;
	background-color: $tertiary;
	font-weight: bold;

	li {
		display: inline-block;
		margin: 0 6px;
	}

	a {
		text-decoration: none;
	}

	li.active a {
		background-color: $primary;
		color: white;
		padding: 0 5px;
	}
}