.flex-container.about-hero {
    // always display as row
    flex-direction: row;

    .media-content {
        width: 80%;
        margin-left: 2rem;
        max-width: 622px;
        padding: 3rem 0;
    }

    h2 {
        color: $white;
        font-weight: $bold;
    }

    p {
        color: $white;
        font-weight: $light;
        text-align: left;
    }

    @include respond-to(xs) {
        .media-content {
            margin-left: 3rem;
        }
    }


    @include respond-to(md) {
        min-height: 448px;

        h2 {
            @include font-large(h2-size);

            text-align: left;
        }

        p {
            @include font-large(paragraph);
        }

        .media-content {
            margin-left: 5.5rem;
        }
    }
}

.flex-container.origin-and-mission {
    position: relative;
    z-index: 1;

    h2 {
        color: $primary;
    }

    .padding-sm {
        padding: 1rem 2rem;

        @include respond-to(xs) {
            padding: 1rem 3rem;
        }
    }

    .flex-item {
        overflow: visible;
    }

    // hide first image on small screens
    .flex-item:first-child {
        transition-delay: 0ms;
    }

    // delay copy fade-in
    .flex-item:last-child {
        transition-delay: 250ms;
    }

    .media-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        > div:last-of-type {
            &:not(.media-content-image) {
                padding-bottom: 2rem;
            }
        }

        // hide images on small screens
        > .media-content-image {
            display: none;
        }
    }

    @include respond-to(md) {
        margin-bottom: 4rem;

        .padding-sm {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        .flex-item:first-child {
            display: unset;
        }

        .media-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            > div:last-of-type {
                &:not(.media-content-image) {
                    padding-bottom: 2rem;
                }
            }

            // show images on tablet and larger
            > .media-content-image {
                display: unset;
            }

            // copy only, not image
            // TODO: update flex-container.html template to distinguish between
            //       image and copy (and others)?
            > div:not(.media-content-image) {
                width: 80%;
                max-width: 700px;
            }
        }
    }


    @include respond-to(lg) {
        margin-bottom: 0rem;

        h2 {
            font-size: 3.5vw;
            line-height: 4vw;
        }

        p {
            font-size: 0.875rem;
        }

        .media-content {
            padding-top: 2rem;

            > div:not(.media-content-image) {
                transform: translateY(-$baseline * 2);
            }

            > div:last-of-type {
                &:not(.media-content-image) {
                    padding-bottom: unset;
                }
            }
        }
    }


    @include respond-to(xl) {
        h2 {
            font-size: 3rem;
            line-height: 3.5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}

.flex-container.origin-and-mission.reverse {
    z-index: 0;
    background-color: $light-gray;
    background-image: $bg-texture;
    background-blend-mode: multiply;

    // TODO: decide whether we want "Why we started" and "What matters most" copy to be 
    //       grouped on mobile, or do image-first then copy for both
    flex-direction: column-reverse;

    // image-first for "What matters most"

    .media-content-image {
        z-index: 1;
        position: relative;
    }

    .media-content > .media-content-image {
        display: unset;
    }

    // delay copy fade-in
    .flex-item:first-child {
        transition-delay: 250ms;
    }

    .flex-item:last-child {
        transition-delay: 0s;
    }

    @include respond-to(md) {
        flex-direction: row;
        transform: translateY(-($baseline * 2));
        margin-top: 2rem;

        // fix for tablet view

        .flex-item {
            overflow: visible;
        }

        .padding-sm {
            padding: 0;
        }

        .media-content {
            transform: translateY($baseline * 2);

            // copy only, not image
            > div:not(.media-content-image) {
                h2, p, a.button {
                    text-align: right;
                    float: right;
                }

                max-width: 568px;
                transform: translateY(-$baseline);
            }
        }
    }


    @include respond-to(lg) {
        // margin-top: 2rem;
    }
}

.flex-container.section-heading {
    .padding-sm {
        padding: 2rem 1.5rem;
    }

    text-align: center;

    h2 {
        color: $primary;
    }

    @include respond-to(md) {
        h2 {
            @include font-large(h2-size);
        }

        .padding-sm {
            padding: 4rem 3rem;
        }
    }
}

.flex-container.practice-areas-heading {
    background-color: $light-gray;
    background-image: $bg-texture;
    background-blend-mode: multiply;

    .padding-sm {
        padding-bottom: 0rem;
    }

    @include respond-to(md) {
        .padding-sm {
            padding: 4rem 0;
        }
    }
}

.flex-container.practice-areas {
    background-color: $light-gray;
    background-image: $bg-texture;
    background-blend-mode: multiply;

    h2 {
        color: $very-dark;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    h3 {
        font-weight: $regular;
        font-size: 1rem;
        line-height: 1.25rem;
    }

    p {
        font-family: $font-family-secondary;
    }

    .flex-item {
        background-image: $bg-texture;
        background-blend-mode: multiply;

        .media-content {
            margin: 2rem;
            padding: 0;

            img {
                max-height: 32px;
                width: auto;
                margin: 16px 0px 24px;
                display: inline-block;
            }
        }

        // every other practice area has gray bg
        &:first-child {
            background-color: $light-gray;
        }

        &:last-child {
            background-color: darken($light-gray, 3%);
        }
    }

    @include respond-to(md) {
        h2 {
            @include font-large(h3-size);
        }

        h3 {
            @include font-large(h4-size);
        }

        p {
            @include font-large(small-size);
        }

        .flex-item {
            .media-content {
                width: 63%;
                margin: 2rem 4rem;

                img {
                    max-height: 64px;
                }
            }
        }

        &:nth-child(even) {
            .flex-item:first-child {
                background-color: darken($light-gray, 3%);

                .media-content {
                    float: right;
                }
            }

            .flex-item:last-child {
                background-color: $light-gray;
            } 
        }

        &:nth-child(odd) {
            .flex-item:first-child {
                background-color: $light-gray;

                .media-content {
                    float: right;
                }
            }

            .flex-item:last-child {
                background-color: darken($light-gray, 3%);
            }
        }
    }
}

.clients {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);

    @include respond-to(sm) {
        grid-template-columns: repeat(3, 1fr);
    }


    @include respond-to(lg) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }


    max-width: $xl-breakpoint;
    margin: 0 auto;
    padding-bottom: 2rem;

    .client {
        height: 100px;
        margin-bottom: 1rem;

        .logo {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            margin: 0 auto;
            display: block;
            width: auto;
            height: auto;

            max-width: 60%;
            max-height: 70%;

            // @include fade_grayscale_to_color;
        }
    }
}