.job-listings {
	margin-top: -200px;
	padding-top: 200px;

	.job-preview {
		display: flex;

		.description {
			width: 80%;

			.job-title {
				margin: 0;
				padding: 0;
			}
		}

		.apply {
			width: 20%;
			text-align: center;
		}
	}

	.job-listing:nth-child(2n+1) {
		background-color: #eee;
	}

}