.flex-container.contact-container {
    #map {
        min-height: 200px;
    }

    .media-content {
        padding: 0;
    }

    .flex-item {
        @include responsive-padding;
    }

    h2, h3, h4 {
        font-weight: $bold;
    }

    a.button {
        padding: 0.5rem 2rem;
        margin-bottom: 1rem;
    }

    .rich-text {
        h2, h3, h4 {
            @include responsive-font("h4-size");

            padding-top: 2rem;
            margin-bottom: unset;
            color: $primary;
        }

        p {
            @include font(small-size);

            padding: 0;
            margin: 0;
        }
    }

    // switch to flex-direction:row
    @include respond-to(md) {

        // map is larger betwen med and lg breakpoints
        .flex-1:last-child {
            flex: 2;
        }

        h3:first-child {
            padding-top: none;
        }
        .rich-text {
            margin-top: 8rem;

            h4 {
                font-size: 1.5rem;
                line-height: 2rem;
            }

            p {
                font-size: 1.125rem;
                line-height: 1.5;
            }
        }
    }


    @include respond-to(lg) {

        h3 {
            padding-top: 2rem;
        }

        .flex-1:last-child {
            flex: 1;
        }

        .flex-item {
            padding-top: $padding-sm;
            padding-bottom: $padding-sm;

            &:first-child {
                padding-left: $padding-lg;
                padding-right: $padding-sm;
            }

            &:last-child {
                padding-right: $padding-lg;
                padding-left: $padding-sm;
            }
        }
    }


    @include respond-to(xl) {
        .flex-item {
            &:first-child {
                padding-left: 7.5rem;
                padding-right: $padding-sm;
            }

            &:last-child {
                padding-right: 7.5rem;
                padding-left: $padding-sm;
            }
        }
    }
}