$leadership-grid-max-width: 1440px !default;

.leadership {
    // center and contain width
    max-width: $leadership-grid-max-width;
    margin: 0 auto;
    padding: $padding-xxs;

    .person {
        display: inline-block;
        margin-bottom: 2rem;

        .image img {
            cursor: pointer;
            width: 100%;
            height: auto;

            @include fade_grayscale_to_color;
        }

        .details {
            margin-top: 0.5rem;
            text-transform: uppercase;

            .name {
                @include leadership_name;
            }

            .title {
                @include leadership_title;
            }
        }
    }

    // top row
    .leadership__featured {
        display: flex;
        flex-direction: column;

        .person {
            max-width: 400px;
            margin: 0 auto 2rem auto;
        }
    }

    // rest of grid
    .leadership__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 1rem;

        .person {
            margin-bottom: 1rem;
        }
    }

    // sm
    @include respond-to(sm) {
        .leadership__grid {
            margin-top: 1rem;
        }
    }


    // tablet styles
    @include respond-to(md) {
        .leadership__featured {
            flex-direction: row;
            justify-content: space-between;

            .person {
                margin: 0 0 1rem 0;

                &:not(:last-child) {
                    margin-right: 1rem;
                }
            }
        }

        .leadership__grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }


    // desktop styles
    @include respond-to(lg) {
        padding: 5.5rem;

        .leadership__featured {
            .person:not(:last-child) {
                margin-right: 2rem;
            }
        }

        .leadership__grid {
            grid-gap: 2rem;
            margin-top: 2rem;
        }

        .person {
            margin-bottom: 0rem;

            .details {
                margin-top: 1rem;
            }
        }
    }
}

.mfp-leadership {
    @media (max-width: 767px) {
        top: 0 !important;
    }

    .mfp-container {
        overflow-y: auto;
    }
}

#leadership-bio-overlay {

    .overlay-modal {
        background: $bg-texture;
    }

    .padding-sm {
        padding: unset;
    }

    .mfp-close {
      margin: 0rem;
      width: 33px;
      height: 33px;
      line-height: 33px;
      @include respond-to(md) {
        margin: 1rem;
        width: 44px;
        height: 44px;
        line-height: 44px;
      }
    }

    .flex-item {
        padding: 2rem;

        &:last-child {
            padding-top: 0;
        }
    }

    h2 {
        color: $primary;
    }

    .image {}

    .name {
        @include font(h2-size);

        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .title {
        @include font(h4-size);

        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-weight: $bold;
    }

    .bio {
        ::-webkit-scrollbar {
            background: transparent;
            width: 0.25rem;
        }

        ::-webkit-scrollbar-thumb {
            background: #ddd;
        }

        p {
            margin-top: 1rem;
            padding-top: unset;
            font-family: $font-family-secondary;
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
    }

    // tablet only
    @include respond-to(md) {

        width: 85%;
        max-width: $wrapper;
        position: relative;
        margin: 0 auto;

        .flex-item {
            padding: 3rem;

            &:last-child {
                padding-top: 3rem;
                padding-left: 0;
            }
        }

        .bio {
            p {
                padding-right: 0.5rem;
                max-height: 500px;
                overflow-y: scroll;
            }
        }
    }


    // desktop only
    @include respond-to(lg) {
        .image {}

        .name {
            font-size: 3rem;
            line-height: 3rem;
        }

        .title {
            font-size: 1.125rem;
            line-height: 1.25rem;
        }

        .bio p {
            font-size: 0.875rem;
            line-height: 1.5rem;
        }
    }
}