$article-preview-border-bottom: 5px solid #EAEAEA;
$article-feed-max-width: 1120px;
$article-preview-image-min-width: 250px;

main.news-articles {

	@include responsive-padding;
	max-width: $article-feed-max-width;
	margin: 0 auto;

	a.article-preview__link {
		text-decoration: none;
		color: inherit;
		&:hover {
			.headline {
				color: $primary;
			}
		}
	}

	article.article-preview {
		border-bottom: $article-preview-border-bottom;
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
		padding-bottom: 1rem;

		section.image {
			flex-basis: 100px;
			flex-grow: 1;
			display: flex;
			align-items: center;
		}

		section.copy {
			flex: 4;
			margin-right: 1.5rem;
		}

		.date { 
			@include date-text-styles;
		}
		.publisher {
			@include publisher-text-styles;
		}
		.headline { 
			@include headline-text-styles;
		}
		.preview-button {
			display: none;
		}
	}

	@include respond-to(md) {

		article.article-preview {
			flex-direction: row;
			justify-content: space-between;
			margin-bottom: 3rem;
			padding-bottom: 3rem;

			section.image {
				flex-basis: 200px;
				flex-grow: 1;
				display: flex;
				align-items: center;
			}

			section.copy {
				flex: 4;
				display: flex;
				flex-direction: column;
				margin-right: 3rem;
				.preview-button {
					display: unset;
					margin-top: auto;
				}
			}
		}
	}
}