.work-grid {

	display: flex;
	flex-wrap: wrap;

	.work-grid-preview {
		width: 100%;
		height: 250px;
		overflow: hidden;
		position: relative;
		margin: 0.5rem 0;

		@include respond-to(sm) {
			width: calc(50% - 0.5rem);
			&:nth-child(odd) {
				margin-right: 1rem;
			}
		}

		@include respond-to(xl) {
			height: 300px;
		}

		.preview-image {
			height: 250px;
			overflow: hidden;

			@include respond-to(xl) {
				height: 300px;
			}

			img {
				object-fit: cover;
				min-width: 100%;
				min-height: 100%;
			}
		}

		.preview-info-wrapper {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0px;
			background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.3) 100%);
		}

		.preview-info {
			color: #fff;
			position: absolute;
			bottom: 0;
			padding: 1rem 1rem 0.5rem;

			.preview-info-text {
				margin: 0;
				line-height: 1;
				padding: 0;

				&.client-name {
					text-transform: uppercase;
					font-weight: $regular;
					font-size: 0.8125rem;
				}

				&.campaign-title {
					padding-top: 0.25rem;
					font-weight: $semibold;
				}
			}
		}

		&:hover {
			.preview-info-text.campaign-title {}
		}

		@include respond-to(lg) {

			.preview-info-text {
				&.client-name {
					font-size: 1rem;
					transition: font-size 300ms ease-in-out;
				}

				&.campaign-title {
					font-size: 1.5rem;
					opacity: 0;
					max-height: 0;
					transition: max-height 500ms ease-in-out, opacity 300ms ease-in-out, border-bottom 300ms ease-in-out 100ms;
				}
			}

			&:hover {
				.preview-info-text.campaign-title {
					opacity: 1;
					// set to arbitrary max-height (larger than natural height) because
					// height:auto doesn't animate
					max-height: 150px;
				}

			}
		}

		@include respond-to(xl) {
			.preview-info-text {
				&.campaign-title {
					font-size: 2.25rem;
				}
			}
		}
	}
}

.creative-reel-button-container {
  text-align: center;
  margin-bottom: 2rem;
  .flex-item {
    @include responsive-padding-x;
    .button {
      width: 100%;
      box-sizing: border-box;
    }
  }
}

