.work-sample-page {
    width: 100%;

    .logo-container {
        @include respond-to(md) {
            margin: 0 2.5rem 3rem;
        }
        @include respond-to(lg) {
            margin: 0 3rem 2rem;
        }


        img {
            margin: 0 auto;
            max-width: 75%;

            @include respond-to(md) {
                max-width: 200px;
            }
        }
    }

    .block-introduction {
        .flex-container {
            h2, h3 {
                font-size: 1.125rem;
                line-height: 1.5rem;
            }

            .media-content {
                padding: 0;
            }
        }

        // challenge and insight
        &:first-child {
            .flex-container {
                padding: 0;
                flex-direction: column;
                align-items: flex-start;
                @include respond-to(lg) {
                    flex-direction: row;
                }
            }

            // challenge
            // on mobile, only challenge has border-top
            .flex-item:first-child {
                .media-content {
                    border-top: 5px solid #eaeaea;
                }
            }

            .media-content {
                padding: unset;

                h2, h3 {
                    padding-top: 1rem;
                }
            }

            @include respond-to(md) {
                padding: 0;

                .media-content {
                    border-top: 5px solid #eaeaea;
                }
            }

            @include respond-to(lg) {
                .media-content {
                    margin: 0 2rem;
                }
            }
        }

        // mediums
        &:last-child {
            .work-sample__mediums {
                padding: 0rem;
                align-items: flex-start;

                p {
                    padding: 0rem;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: #A6A6A6;
                }
            }

            @include respond-to(md) {
                .work-sample__mediums {
                    text-align: right;
                }
            }
        }
    }

    .flex-item {
    	padding: 0.5rem;
    }

    h1, h2, h3, h4 {
        font-weight: $bold;
    }


    .overlay-gallery__grid {
        padding: 0;
    }

    .flex-container {
        box-sizing: border-box;
        @include responsive-padding-x;

        &:last-of-type {
            padding-bottom: 1rem;
        }

        // vertically center flex items by default
        @include respond-to(md) {
            align-items: center;
        }
    }

    .intro-text-container {
        @include respond-to(md) {
            margin-bottom: 1rem;
        }
    }

    // remove all bottom padding so that out-of-home images can directly border
    // content in next container (if next container has .work-sample__after-out-of-home)
    .work-sample__out-of-home {
        .flex-item {
            padding-bottom: 0;
            .media-content {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }

    // remove all bottom padding so that out-of-home images can directly border
    // content in next container (if next container has .work-sample__after-out-of-home)
    .work-sample__out-of-home-carousel {
        .flex-item {
            padding-bottom: 0;
        }
        .media-copy .media-content {
            padding-bottom: 0;
            max-width: none;
            .media-content-image {
                width: 100%;
            }
        }
    }

    // remove all padding-top so that content in this container can directly border
    // content in preceding container -- used for out-of-home images/carousels
    .work-sample__after-out-of-home {
        padding-top: 0 !important;
        .flex-item {
            padding-top: 0 !important;
        }
        // TODO: change to padding-sm?
        .media-content {
            padding-top: 0 !important;
        }
    }

    // remove all padding on this gallery grid
    .work-sample__social-media-gallery {
        .flex-item {
            padding: 0;
        }
    }

    // given images or videos of different heights, display them both at a fixed height
    .work-sample__normalize-height--lg {
        @include respond-to(md) {
            justify-content: center;
            .flex-item {
                flex: auto;
                .padding-sm {
                    padding: 0;
                }
            }
            img {
                max-height: 50vh;
                width: auto;
                max-width: 100%;
            }
            .video-modal__preview-image {
                height: auto;
            }
        }
    }

    // given images or videos of different heights, display them both at a fixed height
    .work-sample__normalize-height--md {
        @include respond-to(md) {
            justify-content: center;
            .flex-item {
                flex: auto;
                .padding-sm {
                    padding: 0;
                }
            }
            img {
                max-height: 35vh;
                width: auto;
                max-width: 100%;
            }
            .video-modal__preview-image {
                height: auto;
            }
        }
    }

    // given images or videos of different heights, display them both at a fixed height
    .work-sample__normalize-height--sm {
        @include respond-to(md) {
            justify-content: center;
            .flex-item {
                flex: auto;
                .padding-sm {
                    padding: 0;
                }
            }
            img {
                max-height: 20vh;
                width: auto;
                max-width: 100%;
            }
            .video-modal__preview-image {
                height: auto;
            }
        }
    }

    .work-sample__normalize-heights {
        @include respond-to(md) {
            justify-content: center;
            .flex-item {
                flex: auto;
                .padding-sm {
                    padding: 0;
                }
            }
            img {
                width: auto;
                max-width: 100%;
            }
            .video-modal__preview-image {
                height: auto;
            }
        }
    }


    .responsive-gallery-grid {
        .flex-item {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }


    // mobile only overrides
    @media (max-width: 767px) {

        // kill extra padding - flex-container, flex-item, media-content
        padding-left: 0;
        padding-right: 0;
        .flex-item {
            padding-left: 0;
            padding-right: 0;
        }
    	.media-content {
    		padding: 0;
    	}

        .text-align--right {
            text-align: left;
        }

        // flex-items in this container go full-width on mobile
        .work-sample__full-width-on-mobile {
            padding-left: 0;
            padding-right: 0;
            .flex-item {
                padding-left: 0;
                padding-right: 0;
            }
        }

        // given two flex-items, the left-side item goes full-width and the right-side
        // item maintains normal padding
        .work-sample__left-full-on-mobile {
            // remove flex-container padding
            padding-left: 0;
            padding-right: 0;
            .flex-item:first-child {
                // remove left-side flex-item padding
                padding-left: 0;
                padding-right: 0;
            }
            .flex-item:last-child {
                // mock flex-container padding for right-side flex-item
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                @include respond-to(sm) {
                    padding-left: 3rem;
                    padding-right: 3rem;
                }
            }
        }

        // given two flex-items, the right-side item goes full-width and the left-side
        // item maintains normal padding
        .work-sample__right-full-on-mobile {
            padding-left: 0;
            padding-right: 0;
            .flex-item:first-child {
                padding-left: 1.5rem;
                padding-right: 1.5rem;
                @include respond-to(sm) {
                    padding-left: 3rem;
                    padding-right: 3rem;
                }
            }
            .flex-item:last-child {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}


.work-sample-bottom-navigation {
    @include responsive-padding-x;
    margin-top: 3rem;
    background-color: $light-gray;
    background-image: $bg-texture;
    background-blend-mode: multiply;
    .wrapper-xl {
        display: flex;
        justify-content: space-between;
    }
    a.button {
        margin: 1.5rem 0.5rem;

        &.project-navigation__prev::before, &.project-navigation__next::after {
            content: '';
            display: inline-block;
            @include transition_all;
            border-right: 2px solid $button-color;
            border-bottom: 2px solid $button-color;
            width: 4px;
            height: 4px;
            vertical-align: middle;
        }

        &.project-navigation__prev:hover::before, &.project-navigation__next:hover::after {
            border-right-color: $button-hover-color;
            border-bottom-color: $button-hover-color;
        }

        &.project-navigation__prev {
            &::before {
                margin-right: 5px;
                transform: rotate(-225deg);
            }
        }

        &.project-navigation__next {
            &::after {
                margin-left: 5px;
                transform: rotate(-45deg);
            }
        }
    }
}
