@import 'breakpoints';

@mixin font($size) {
  font-size:      map-deep-get($font-sizes, $size, font-size);
  line-height:    map-deep-get($font-sizes, $size, line-height);
  padding-top:    map-deep-get($font-sizes, $size, padding-top);
  margin-bottom:  map-deep-get($font-sizes, $size, margin-bottom);
}

@mixin font-large($size) {
  font-size:      map-deep-get($font-sizes-large, $size, font-size);
  line-height:    map-deep-get($font-sizes-large, $size, line-height);
  padding-top:    map-deep-get($font-sizes-large, $size, padding-top);
  margin-bottom:  map-deep-get($font-sizes-large, $size, margin-bottom);
}

// $breakpointName is optional -- default is the 'lg' breakpoint (1024px)
@mixin responsive-font($size, $breakpointName:"") {
  // user smaller fonts for smaller screens
  @include font($size);

  // if custom breakpoint passed, increase font sizes there
  @if $breakpointName != "" {
    @include respond-to($breakpointName) {
     @include font-large($size)
    }
  } 

  // else, fallback to lg
  @else {
    @include respond-to(lg) {
      @include font-large($size)
    }
  }
}

@mixin anti {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
