
@mixin user-select($value: none) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin responsive-padding() {
	padding: $padding-xxs;
	@media (min-width: $xs-breakpoint) {
		padding: $padding-xs;
	}
	@media (min-width: $sm-breakpoint) {
		padding: $padding-sm;
	}
	@media (min-width: $md-breakpoint) {
		padding: $padding-md;
	}
	@media (min-width: $lg-breakpoint) {
		padding: $padding-lg;
	}
	@media (min-width: $xl-breakpoint) {
		padding: $padding-xl;
	}
}

@mixin responsive-padding-x() {
	padding: 0rem $padding-xxs;
	@media (min-width: $xs-breakpoint) {
		padding: 0rem $padding-xs;
	}
	@media (min-width: $sm-breakpoint) {
		padding: 0rem $padding-sm;
	}
	@media (min-width: $md-breakpoint) {
		padding: 0rem $padding-md;
	}
	@media (min-width: $lg-breakpoint) {
		padding: 0rem $padding-lg;
	}
	@media (min-width: $xl-breakpoint) {
		padding: 0rem $padding-xl;
	}
}

@mixin responsive-padding-l() {
	padding-left: $padding-xxs;
	@media (min-width: $xs-breakpoint) {
		padding-left: $padding-xs;
	}
	@media (min-width: $sm-breakpoint) {
		padding-left: $padding-sm;
	}
	@media (min-width: $md-breakpoint) {
		padding-left: $padding-md;
	}
	@media (min-width: $lg-breakpoint) {
		padding-left: $padding-lg;
	}
	@media (min-width: $xl-breakpoint) {
		padding-left: $padding-xl;
	}	
}

@mixin responsive-padding-r() {
	padding-right: $padding-xxs;
	@media (min-width: $xs-breakpoint) {
		padding-right: $padding-xs;
	}
	@media (min-width: $sm-breakpoint) {
		padding-right: $padding-sm;
	}
	@media (min-width: $md-breakpoint) {
		padding-right: $padding-md;
	}
	@media (min-width: $lg-breakpoint) {
		padding-right: $padding-lg;
	}
	@media (min-width: $xl-breakpoint) {
		padding-right: $padding-xl;
	}	
}


@mixin responsive-margin() {
	margin: $padding-xxs;
	@media (min-width: $xs-breakpoint) {
		margin: $padding-xs;
	}
	@media (min-width: $sm-breakpoint) {
		margin: $padding-sm;
	}
	@media (min-width: $md-breakpoint) {
		margin: $padding-md;
	}
	@media (min-width: $lg-breakpoint) {
		margin: $padding-lg;
	}
	@media (min-width: $xl-breakpoint) {
		margin: $padding-xl;
	}
}

@mixin custom-underline($height, $color) {
  text-decoration: none; 
  position: relative;
  display: inline-block;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    background-color: $color;
    height: $height;
    top: 100%;
    left: 0%;
    width: 0%;
    transition: width 200ms ease-in-out;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}