{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/build/styles.bundle.css' %}">

        {# Polyfills #}
        <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver" integrity="sha384-83CYOGXsi59YYxBeS/ag/t615snxzc9UUt0t4ApSQHHKYmbmlQj/MuS9QywJHVDN" crossorigin="anonymous"></script>
        <link rel="shortcut icon" type="image/x-icon" href="https://www.salesforce.com/etc/designs/sfdc-www/en_us/favicon.ico">

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {# Page Content #}
		<div id="site_wrapper">
        {% block content %}{% endblock %}
	    </div>

       
    </body>
</html>


